{%extends 'base.html'%}
{%block content%}


<style>
    .myphoto {
        width: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
</style>


<div class="container">
    <br><br>
    <div class="inline">
        <div>
            <img class="myphoto" src="../static/mesrop.jpg" alt="My photo">
        </div>
        <div class="form_login align_right width_60">
            <h2 class="welcome-txt align_center">About Us</h2>
            <hr class="form-label">
            <br><br>
            <p class="form-label"> jahdsf dsahf akdsf dfsj asdfj afd akdf adf s dfsa dsd asd fasd fs fsaddsf df sdf dssdf ds fdsf sad fsdf sdf ds fsf sadf sdf
                sadf a jahdsf dsahf akdsf dfsj asdfj afd akdf adf s dfsa dsd asd fasd fs fsaddsf df sdf dssdf ds fdsf sad fsdf sdf ds fsf sadf sdf
                sadf a jahdsf dsahf akdsf dfsj asdfj afd akdf adf s dfsa dsd asd fasd fs fsaddsf df sdf dssdf ds fdsf sad fsdf sdf ds fsf sadf sdf
                sadf a jahdsf dsahf akdsf dfsj asdfj afd akdf adf s dfsa dsd asd fasd fs fsaddsf df sdf dssdf ds fdsf sad fsdf sdf ds fsf sadf sdf
                sadf a jahdsf dsahf akdsf dfsj asdfj afd akdf adf s dfsa dsd asd fasd fs fsaddsf df sdf dssdf ds fdsf sad fsdf sdf ds fsf sadf sdf
                sadf ajahdsf dsahf akdsf dfsj asdfj afd akdf adf s dfsa dsd asd fasd fs fsaddsf df sdf dssdf ds fdsf sad fsdf sdf ds fsf sadf sdf
                sadf ajahdsf dsahf akdsf dfsj asdfj afd akdf adf s dfsa dsd asd fasd fs fsaddsf df sdf dssdf ds fdsf sad fsdf sdf ds fsf sadf sdf
                sadf a</p>
        </div>
    </div>
</div>
{%endblock%}