{%extends 'base.html'%}
{%block content%}


<style>
    .myphoto {
        width: 300px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
</style>


<div class="container">
    <br><br>
    <div class="about-us">
        <div class="photo">
            <img class="myphoto" src="../static/mesrop.jpg" alt="My photo">
        </div>
        <div class="form_login align_right  about-us-text">
            <h2 class="welcome-txt align_center">About Us</h2>
            <hr class="form-label">
            <br><br>
            <p class="form-label">Dear visitor<br>
                <br>
                If you've found yourself here, you might be wondering, "What's happening, and where am I?"<br>
                <br>
                Welcome to the Expense Tracker web application. This is an experimental project crafted by me, Mesrop Daghbashyan.
                While I work full-time as a hardware IC design engineer, my deep passion and interest in web development have led
                me to create this site. It serves as a platform to apply the knowledge I've gained from various programming courses
                and web development trainings. Please bear in mind that this is my inaugural portfolio project, so I kindly ask for
                your understanding if there are areas for improvement. Rome wasn't built in a day, after all!<br>
                <br>
                This application is designed to be user-friendly and accessible to a broad audience. Its primary purpose is to
                assist you in managing your financial affairs. The Expense Tracker simplifies tasks such as tracking household
                expenses, monitoring travel budgets, and keeping tabs on leisure and bills. Once you've created a user profile,
                you can log in, input your expenses, and categorize them accordingly. You also have the flexibility to edit or
                delete expenses as needed, as well as filter them by month. Additionally, the app provides a visual representation
                of your expenses through pie charts, offering insights into your overall financial landscape.<br>
                <br>
                Feel free to explore the application and give it a test run. If you have any suggestions or feedback,
                please don't hesitate to reach out. Your input is invaluable to me.<br>
                <br>
                Warm regards,<br>
                Mesrop Daghbashyan
            </p>
        </div>
    </div>
</div>
{%endblock%}