{% load widget_tweaks %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense Treacker Homepage</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/style.css">

    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script>

    <style>

    </style>
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
    <div class="content-wrapper">

        <header class="header">
            <div class="nav-container">
                <nav class="nav">
                    <ul class="nav-el">
                        <li><a href="{%url 'tracker:home'%}">Home Page</a></li>
                        <li><a href="{%url 'tracker:contact-us'%}">Contact us</a></li>
                        <li><a href="{%url 'tracker:about-us'%}">About us</a></li>
                        {% if user.is_authenticated %}

                        {% else %}
                        <li><a href="{%url 'tracker:log-in'%}">Log In</a></li>
                        {% endif%}
                    </ul>
                    <ul class="nav-el">
                        {% if user.is_authenticated %}
                        <li><a href="{%url 'tracker:profile'%}">MyProfile({{user.username}})</a></li>
                        <li><a href="{%url 'expenses:index'%}">Dashboard</a></li>
                        <li><a href="{%url 'tracker:log-out'%}">LogOut</a></li>

                        {% endif%}
                    </ul>
                </nav>
            </div>
        </header>

        {%block content%}

        {%endblock%}

    </div>

    <footer class="footer">
        <div class="raw align_center">
            <div>Copyright © 2024, All rights reserved!</div>
            <div>
                <ul class="nav-footer-el">
                    <li><a href="{%url 'tracker:contact-us'%}">Contact us</a></li>
                    <li><a href="{%url 'tracker:about-us'%}">About us</a></li>
                    <li><a href="{%url 'tracker:privacy-policy'%}">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
    </footer>
</body>


</html>