{%extends 'base.html'%}

{%block content%}

<style>
    .register_link {
        margin: auto;
        font-size: 15px;
        font-family: Verdana;
    }

    .register-label a {
        color: #55F8B4;
        text-decoration: none;
    }

    .register-label a:hover {
        cursor: pointer;
        color: rgb(8, 178, 70);

    }
</style>
<div class="container">
    {%if messages%}
    <br>
    {% for message in messages %}
    <div class="message_alert" role="alert">
        {{message}}
        <br>
    </div>
    {% endfor %}
    {%endif%}

    <div class="form_login width_50">
        <h2 class="welcome-txt align_center">Enter new password</h2>
        <p class="form-label">Please enter your new password twice so we can verify you typed it in correctly.</p>
        <br>
        <form method="POST">{%csrf_token%}
            <label class="form-label" for="">New password</label>
            <br>
            <input class="form_input width_100" placeholder="" type="password" name="new_password1">
            <br><br>
            <label class="form-label" for="">Confirm password:</label>
            <br>
            <input class="form_input width_100" placeholder="" type="password" name="new_password2">
            <br><br>
            <div class="align_center">
                <input class="btn btn-color-pink align_center" type="submit">
            </div>
        </form>
    </div>


</div>
{%endblock%}