{%extends 'base.html'%}

{%block content%}

<style>
    .register-label a {
        color: #55F8B4;
        text-decoration: none;
    }
</style>
<div class="container">
    {%if messages%}
    <br>
    {% for message in messages %}
    <div class="message_alert" role="alert">
        {{message}}
        <br>
    </div>
    {% endfor %}
    {%endif%}

    <div class="form_login width_70">
        <h2 class="welcome-txt align_center">Password reset complete</h2>
        <br><br>
        <p class="form-label align_center">Your password has been set. You may go ahead and log in now.</p>
        <br>
        <label class="register-label align_center" for=""><a href="{%url 'tracker:log-in'%}">Log In</a></label>
        <br><br>
    </div>
</div>
{%endblock%}