{%extends 'base.html'%}

{%block content%}

<style>
    .register_link {
        margin: auto;
        font-size: 15px;
        font-family: Verdana;
    }

    .register-label a {
        color: #55F8B4;
        text-decoration: none;
    }

    .register-label a:hover {
        cursor: pointer;
        color: rgb(8, 178, 70);

    }
</style>
<div class="container">
    {%if messages%}
    <br>
    {% for message in messages %}
    <div class="message_alert" role="alert">
        {{message}}
        <br>
    </div>
    {% endfor %}
    {%endif%}
    <br><br><br><br>
    <form method="POST" class="form_login">{%csrf_token%}
        <h2 class="welcome-txt align_center">Password reset</h2>
        <p class="form-label">Reset your password by providing your account email below.</p>
        <br>
        <div>
            <label class="form-label" for="">Email</label>
            <br>
            <input class="form_input width_100" placeholder="Email" type="email" name="email">
            <br>
            <br>
            <div class="align_center">
                <button class="btn btn-color-pink align_center" type="submit">Next</button>
            </div>
        </div>
    </form>
</div>
{%endblock%}